* {
    font-family: 'Overpass', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
    display: block;
}

body {
   background: url("../assets/images/joanna-kosinska-mjC9apK53a8-unsplash.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin-bottom: 5vh;
}

footer {
    position: absolute;
    height: 6vh;
    width: 100%;
    bottom: 0;
    color: white;
}

.footer-accent {
    background: linear-gradient(90deg,red,orange,purple);
    height: 1vh;
    margin-bottom: 1vh;
}

.content-wrapper {
    background-color: white;
    margin: 5vh 2vw;
    padding: 20px;
}

/* .portfolio-img-box {
    margin-bottom: 20px;
    padding-bottom: 20px;
} */

.portfolio-img {
    width: 100%;
}

h2 {
    font-size: 1.25em;
}

.strengthTitle {
    font-weight: bold;
    font-size: 1.25em;
}

@media only screen and (max-width: 500px) {
    .bio-img {
        width: 100%;
    }
}


