body, html {
    height: 100%;
}

body {
   background: linear-gradient(130deg,white,rgb(228, 227, 227));
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

footer {
    height: 5vh;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    /* background-color: gray; */
    color: white;
}